
body{
  background-color: beige;
  font-family: monospace;
}

.days{
  text-align: center;
  width: 30%;
  border: solid 1px white;
  border-radius: 5px;
  background-color:pink;
  margin: 15px;
}
.layout{
  /* background-color: beige; */
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color:Black;
  font-size: x-large;
  margin:0;
  padding: 20px;
}
.form-edit{
  text-align: center;
  margin: 50px;
  background-color: antiquewhite;
  width: 30%;
  border-radius: 20px;
 
  display: flex;
  flex-direction: column;
}
.edit{
  display: flex;
  justify-content: center;
}
.form-control{
  margin:10px;
}
input{
  background-color: antiquewhite;
  border:none;
}
select{
  background-color: antiquewhite;
  border:none;
}
.home{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  
}
