
body{
  font-family: monospace;
}

.days{
  text-align: center;
  width: 30%;
  border: solid 1px white;
  border-radius: 5px;
  margin: 15px;
}
.layout{
  display: flex;
  gap: 10px;
  flex-direction: row;
  width: auto;
  margin: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color:Black;
  font-size: x-large;
  margin:0;
  padding: 20px;
}
.form-edit{
  text-align: center;
  margin: 50px;
  width: 30%;
  border-radius: 20px;
 
  display: flex;
  flex-direction: column;
}
.edit{
  display: flex;
  justify-content: flex-start;
}
.form-control{
  margin:10px;
}
input{
  border:none;
}
select{
  border:none;
}
.home{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  
} 

.footer{
  margin: 1%;
  margin-top: 10%;

}

.drag:hover{
  background-color: rgb(234, 232, 232);
  cursor: move;
}